<!DOCTYPE html>
<html>
  <head>
    <title>TheGoSpot-Api</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript">

    </script>
  </head>
  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
